alabaster==0.7.12
Babel==2.8.0
beautifulsoup4==4.9.1
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
cssselect2==0.3.0
defusedxml==0.6.0
Deprecated==1.2.10
docutils==0.16
EditorConfig==0.12.2
future==0.18.2
html5lib==1.1
idna==2.10
imagesize==1.2.0
importlib-metadata==1.7.0
Jinja2==2.11.2
joblib==0.16.0
jsbeautifier==1.13.0
livereload==2.6.3
lunr==0.5.8
Markdown==3.2.2
MarkupSafe==1.1.1
mkdocs==1.1.2
mkdocs-bootstrap4==0.1.4
mkdocs-git-committers-plugin==0.1.10
mkdocs-gitbook==0.0.1
mkdocs-mermaid-plugin==0.1.1
mkdocs-pdf-export-plugin==0.5.8
mkdocs-windmill==1.0.4
nltk==3.5
packaging==20.4
Pillow==7.2.0
pycparser==2.20
PyGithub==1.53
Pygments==2.6.1
PyJWT==1.7.1
pymdown-extensions==8.0
pyparsing==2.4.7
Pyphen==0.9.5
pytz==2020.1
PyYAML==5.3.1
regex==2020.7.14
requests==2.24.0
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
termcolor==1.1.0
tinycss2==1.0.2
tornado==6.0.4
tqdm==4.48.2
urllib3==1.25.10
WeasyPrint==51
webencodings==0.5.1
wrapt==1.12.1
zipp==3.1.0
