	
h2 {
	page-break-before: always;
	string-set: heading content();
}   

h1, h2, h3, h4, h5 {
	page-break-after: avoid;
}
	

table, figure {
	page-break-inside: avoid;
}


@page {
    size: a4 portrait;
    margin: 25mm 10mm 25mm 10mm;
    counter-increment: page;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    white-space: pre;
    color: grey;
    @top-left {
    	background: url(../../docs/images/LunaX_Font.png) no-repeat bottom;
    	background-size: 3cm;
    	content: "";
    	width: 3cm;    
    }
    @top-center {
        content: string(chapter);
    }
    @top-right {
        content: "Seite " counter(page) " / " counter(pages);
    }
    @bottom-left {
        content: '© 2020 LunaX';
    }
   	@bottom-center {
    	content: string(heading);
 	}
 	
}